{% load static %}

<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <title>Valo.ask</title>

    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/my.css" %}" rel="stylesheet">

    <!-- Icon -->
    <link sizes="16x16" rel="icon" href="{% static "img/logos/favicon.ico" %}">
</head>
<body class="d-flex flex-column h-100 bg-main">

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-full-dark">
        <div class="container-fluid m-lg-1">
            <a class="navbar-brand" href="{% url "index" %}">
                <img src="{% static "img/logos/logo.svg" %}" class="logo-img col-2" alt="Valo.Ask logo">
                Valo.Ask
            </a>
            <div class="collapse navbar-collapse" id="navbarCollapse">

                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Ask!</button>
                </form>
            </div>

            <div class="navbar-nav mb-2 mb-md-0 me-5">
                <div class="mx-lg-3">
                    <a class="user-img" href="#">
                        <img src="{% static "img/avatars/adm.jpg" %}" class="profile-avatar-img rounded"
                             alt="your avatar">
                    </a>
                </div>

                <div class="">
                    <a class="user-name nav-link active" href="#">Admin</a>

                    <div class="row user-options p-1">
                        <div class="col-6">
                            <a class="user-settings link-light" href="{% url "settings" %}">Settings</a>
                        </div>
                        <div class="col-6">
                            <a class="user-logout link-light" href="#">Log out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>


<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="left-column mt-5 col-9">
                {% block content %}{% endblock %}
            </div>

            <div class="right-column mt-5 col-3">
                <div class="popular_tags">
                    <h2 class="mt-2">Popular Tags</h2>
                    <div class="links d-flex flex-row">
                        {% include 'inc/popular_link_item.html' with name="game" type="link-danger" %}
                        {% include 'inc/popular_link_item.html' with name="split" type="link-secondary" %}
                        {% include 'inc/popular_link_item.html' with name="jett" type="link-info" %}
                    </div>
                    <div class="links d-flex flex-row">
                        {% include 'inc/popular_link_item.html' with name="icebox" type="link" %}
                        {% include 'inc/popular_link_item.html' with name="maps" type="link-warning" %}
                    </div>
                    <div class="links d-flex flex-row">
                        {% include 'inc/popular_link_item.html' with name="cypher" type="link-secondary" %}
                        {% include 'inc/popular_link_item.html' with name="bind" type="link" %}
                        {% include 'inc/popular_link_item.html' with name="breeze" type="link-dark" %}
                    </div>
                </div>

                <div class="best_members">
                    <h2 class="mt-4">Best Members</h2>
                    <ol class="list-unstyled">
                        <li><a href="#">FoxLoveMe</a></li>
                        <li><a href="#">MasterQ_Q</a></li>
                        <li><a href="#">Spectmur</a></li>
                        <li><a href="#">Obedich</a></li>
                        <li><a href="#">Slavik</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</main>


<footer class="footer mt-auto py-3 bg-full-dark">
    <div class="container">
        <span class="text-body-secondaryy">Place sticky footer content here.</span>
    </div>
</footer>
</body>
</html>
